body {
  background: black;
  font-family: 'Varela', sans-serif;
}

.glitch {
  position: relative;
  display: inline-block;
  font-size: 100px;
  color: white;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.glitch::before {
  text-shadow: -2px 0 red;
}

.glitch::after {
  text-shadow: 2px 0 blue;
}

.glitch:hover::before,
.glitch:hover::after {
  clip: rect(0, auto, 100%, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))}{
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}
