$gray-1: #2d2d2d !default;
$gray-2: #474747 !default;
$gray-3: #5e5e5e !default;
$gray-4: #8f8f8f !default;
$gray-5: #b8b8b8 !default;
$gray-6: #d2d2d2 !default;

$red: #ff6363 !default;
$orange: #ffb74d !default;
$yellow: #ffe082 !default;
$green: #b2ff59 !default;
$cyan: #80deea !default;
$blue: #4dd0e1 !default;
$purple: #ba68c8 !default;

$root-font-family: 'Roboto Mono', monospace !default;
$root-font-size: 16px !default;
$root-line-height: 1.5 !default;

$body-color: $gray-5 !default;
$body-muted: $gray-4 !default;
$body-bg: #212121 !default;
$link-color: $cyan !default;
$heading-color: $gray-1 !default;

$border-color: $gray-2 !default;
$border-radius: 6px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;
$heading-spacing: 0.5rem !default;
$section-spacing: 2rem !default;
$sidebar-width: 18rem !default;

$large-breakpoint: 49rem !default;
$large-font-size: 1.25rem !default;

$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size $box-shadow-size $box-shadow-size rgba(0, 0, 0, $box-shadow-opacity);

$code-font-family: 'Roboto Mono', monospace !default;
$code-color: $purple !default;

// Hyde theming
$sidebar-bg-color: #181818 !default;
$sidebar-fg-color: #b8b8b8 !default;
$sidebar-sticky: true !default;
$layout-reverse: false !default;

$sidebar-title-color: $sidebar-fg-color !default;
$sidebar-link-color: $sidebar-fg-color !default;
$sidebar-text-color: rgba($sidebar-fg-color, 0.75) !default;
$sidebar-icon-color: rgba($sidebar-fg-color, 0.85) !default;
